html, body{ /*inicializar*/
    width: 100%;
    height: 100%;
}

body {
    background-color: rgb(55, 54, 66);
}

.personagem[data-classe="simulacro"] img {
    width: 40%;
    height: 60%;
    padding: 1%;
    border-radius: 20px;
}

.personagem[data-classe="vampira"] img {
    width: 40%;
    height: 60%;
    padding: 1%;
    border-radius: 20px;
}

.personagem[data-classe="monstro marinho"] img {
    width: 40%;
    height: 60%;
    padding: 1%;
    border-radius: 20px;
}

.personagem[data-classe="lobisomem"] img {
    width: 40%;
    height: 60%;
    padding: 1%;
    border-radius: 20px;
}

.personagem[data-classe="múmia"] img {
    width: 40%;
    height: 60%;
    padding: 1%;
    border-radius: 20px;
}

.personagem[data-classe="yeti"] img {
    width: 40%;
    height: 60%;
    padding: 1%;
    border-radius: 20px;
}


main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2px;
    margin: 5px;
    gap: 14px;
}

.personagem{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.personagem h2 {
    font-style: italic;
    font-family: cursive;
    font-size: 17px;
    text-align: center;
    padding: 2%;
    font-weight: bold;
}

.personagem p {
    font-family: cursive;
    font-size: 13px;
    text-align: center;
}

.personagem[data-classe="vampira"] {
    background-color: rgb(255, 125, 184);
    border-color: rgb(0, 0, 0);
    width: 30%;
    height: 55%;
    border-radius: 10px;
    border: 5px solid black;
}

.personagem[data-classe="lobisomem"] {
    background-color: rgb(190, 49, 241);
    border-color: rgb(0, 0, 0);
    width: 30%;
    height: 55%;
    border-radius: 10px;
    border: 5px solid black;
}

.personagem[data-classe="múmia"] {
    background-color: rgb(245, 208, 57);
    border-color: rgb(0, 0, 0);
    width: 30%;
    height: 55%;
    border-radius: 10px;
    border: 5px solid black;
}

.personagem[data-classe="simulacro"] {
    background-color: rgb(49, 241, 151);
    border-color: rgb(0, 0, 0);
    width: 30%;
    height: 55%;
    border-radius: 10px;
    border: 5px solid black;
    
}




.personagem[data-classe="monstro marinho"] {
    background-color: rgb(49, 241, 238);
    border-color: rgb(0, 0, 0);
    width: 30%;
    height: 55%;
    border-radius: 10px;
    border: 5px solid black;
}

.personagem[data-classe="yeti"] {
    background-color: rgb(49, 139, 241);
    border-color: rgb(0, 0, 0);
    width: 30%;
    height: 55%;
    border-radius: 10px;
    border: 5px solid black;
}

.personagem img {
    align-items: center;
    align-self: center;
}

h1 {
    font-size: 60px;
    font-family: cursive;
    text-align: center;
    padding: 3%;
    color: antiquewhite;
    -webkit-text-stroke: 3px black;
}